/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Center content vertically and horizontally */

.background-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/miku\ background.webp);
    background-position: center;
    background-size: cover;
}
.bg-opacity {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border-radius: 3rem;
}
/* Style the header */
h1 {
    padding: 10px 20px;
    border-radius: 1rem;
    font-size: 54px;
    margin-bottom: 10px;
}
p {
    background-color: #ff2b2b;
    color: #fff;
    padding: 10px;
    border-radius: 1rem;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 5px;
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
    
}
a:hover {
    scale: 90%;
}
/* Style the button */
#startButton {
    padding: 20px 40px;
    margin: 10px;
    font-size: 16px;
    background-color: #1d1d1d;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 1rem;
}

#startButton:hover {
    background-color: #575757;
}

/* Style the sound level display */
#soundLevel {
    font-size: 20px;
    margin-top: 10px;
}
